<%- include('partials/header.ejs') %>
    <%- include('partials/homenavbar.ejs') %>

        <body>
            <div class="container">
                <%- include('partials/darkSwitch.ejs') %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= category.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <%- category.body %>
                        </div>
                        <br>
                        <a href="/" class="btn btn-primary">Voltar</a>
                    </div>
            </div>
        </body>
        <%- include('partials/footer.ejs') %>